<a href="https://colab.research.google.com/github/Is-rat-go/Basic_python/blob/main/pythonbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print:
print("Salam")

Salam

In [1]:
#variable:
a=10
b=45
c=a+b

55

In [10]:
#type casting;
n=input()
m=10.5
print("sum:", float(n)+m)

20
sum: 30.5

In [18]:
#type casting;
n=input()   #here n hasen't any limitations! that's why n can be float/int/str/char... etc
m=input()
print("sum:",n+str(m))

10.45.67
er
sum: 10.45.67er

In [27]:
#loop:

"""
threepol cotta use for multiple line!
for i in range (5):
  print(i)
"""

"""
for i in range (0, 6):
  print(i)
"""

for i in range(1,6,2):   #here for '2' skip 1 number from the array,if had 3 then skip 2 number!
  print(i)  # it also can be called to find odd number from the array of 0,1,2,3,4,5,6.

1
3
5

In [28]:
#for find even from the array set of 0,1,2,3,4,5,6:
for i in range (0,6,2):
  print(i)

0
2
4